<app-header titulo="Inicio"></app-header>

<ion-content class="ion-padding">
  <ion-list-header color="danger">
    <ion-label>Series</ion-label>
  </ion-list-header>
  <ion-list>
    <!-- Crear Cards para las series -->
    <ion-card color="light" *ngFor="let serie of series" [routerLink]="['/info-serie/' ] //,serie.id  ">
      <ion-card-header>
        <ion-card-title>{{serie.titulo}}</ion-card-title>
        <ion-card-subtitle>
          <ion-label *ngFor="let categoria of serie.categorias">{{categoria}} </ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="{{serie.imagen}}"></ion-img>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
